<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="chrome=1" />
        <title>PHP Refactoring Browser by QafooLabs</title>

        <link rel="stylesheet" href="stylesheets/styles.css" />
        <link rel="stylesheet" href="stylesheets/pygment_trac.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
  </head>
  <body>
      <div class="wrapper">
          <header>
              <h1>PHP Refactoring Browser</h1>
              <p>A command line refactoring tool for PHP</p>

              <p class="view"><a href="https://github.com/QafooLabs/php-refactoring-browser">View the Project on GitHub <small>QafooLabs/php-refactoring-browser</small></a></p>

              <ul>
                  <li><a href="http://qafoo.com/downloads/refactor.tar.gz">Download <strong>PHAR</strong></a></li>
                  <li><a href="https://github.com/QafooLabs/php-refactoring-browser">View On <strong>GitHub</strong></a></li>
                  <li><a href="http://www.qafoo.com">Built by <strong>Qafoo</strong></a></li>
              </ul>

              <p><small><strong>Note:</strong> This software is under development and in alpha state. Refactorings
                      do not contain all necessary pre-conditions and might mess up your code.
                      Check the diffs carefully before applying the patches.</small></p>

          </header>
      <section>
          {{ content }}
      </section>
      <footer>
          <p>This project is maintained by <a href="https://github.com/QafooLabs">QafooLabs</a></p>
          <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
  </div>
  <script src="javascripts/scale.fix.js"></script>

  </body>
</html>
